@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: black;
}

/* --- Home --- */
.my-home {
  background-image: url("../images/banner01.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 829px;
  color: #ffff;
  background-color: black;
}
.welcome-msg {
  margin-top: 0;
  background-color: black;
  text-align: center;
  font-size: 4rem;
  padding-top: 15px;
}
/* --- Navbar --- */
 li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
} 
a:hover, a:focus, a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;    
}
a {   
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
    font-weight: 600;    
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.active{
    color:#ffffff
}

/* --- Characters --- */
.characters-page {
  background: black;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  margin-top: 0px;
  padding-top: 10px;
}

/* --- Login --- */
.login-section{
    padding-left: 18%;
    padding-top: 6%;
    padding-bottom: 10%;
    background-color: black;
}

.css-101ca9i-MuiTypography-root-MuiLink-root{
    text-decoration: none !important;
    color: black !important;
}
/* --- Footer --- */
.css-6t15e7 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background-color: #f10002 !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.css-1xatcrf-MuiTypography-root {
  color: black !important;
}

.MuiCardMedia-root {
  padding-top: 1px !important;
  height: 350px;  
}
